*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}
#cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 600px) {
    #cont{
        flex-direction: column;
    }
}
#cont > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div#left{
    width: 80%;
    justify-content:  center;
}
div#right{
    width: 20%;
    justify-content: center;
}