#price{
    min-height: unset;
    margin-top: 60px;
    display: flex;
    gap: 25px;
}
#price .card-middle{
    padding: 20px;
}
#price sub{
    vertical-align: baseline;
    color: #bababa;
    font-size: 1rem;
    font-weight: 300;
    font-family: "Poppins", sans-serif;
}
#price sup {
    color: var(--color1);
    font-size: 20px;
    color: var(--color1);
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: -15px;
    left: -3px;
    vertical-align: baseline;
}
#price span{
    color: var(--color1);
    font-size: 36px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
#price .card-top{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
#price .card-middle p {
    margin: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #444;
    font-weight: 400;
}
#price .card{
    width: 25%;
    border: 1px solid #eef0ef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#price .card .card-top, #price .card .card-bottom{
    height: 60px;
    color: #777;
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#price .card .card-bottom{
    height: 80px;
    width: 100%;
}
#price .card .card-bottom a{
    --h : 37px;
    color: white;
    background-color: var(--color1);
    width: 130px;
    height: var(--h);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: calc(var(--h) / 2);
    transition: all .3s;
}
#price .card .card-bottom a:hover {
    background-color: var(--color2);
}
#price .card .card-top.green{
    background-color: var(--color1);
    color: white;
}
#price .card .card-top.advenced{
    position: relative;
    overflow: hidden;
}
#price .card .card-top.advenced::after{
    content: "Advenced";
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top;
    transform: rotate(45deg);
    background-color: var(--color1);
    color: white;
}