*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a, a:hover{
    text-decoration: none;
    color: black;
}

:root{
    --color1: #5fcf80;
}

nav{
    width: 100%;
    height: 73px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    padding: 0 16px;
    display: block;
}
nav ul li a{
    font-family: Poppins, sans-serif;
    font-size: 15px;
    color: #37423b;
    font-weight: 500;
    transition: all .3s;
}
nav ul li a:hover{
    color: var(--color1);
}

#logo{ 
    font-size: 1.9rem;
    color: var(--color1);
    font-weight: 600;
    letter-spacing: 1px;
}
section{
    min-height: 400px;
}
section:nth-child(2n){
    background-color: rgb(0, 0, 0);
}
section:nth-child(2n+1){
    background-color: rgb(255, 255, 255);
}
#get, #get a{
    --height: 35px;
    display: flex;
    align-items: center;
    height: var(--height);
    background-color: #fff;
}
#get a{
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: var(--color1);
    border-radius: calc( var(--height) / 2);
    padding: 5px 20px;
    color: white;
    font-size: 14px;
    font-weight: normal;
}
#hero{
    height: calc(80vh - 70px);
    background-image: url(hero-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.drop-container{
    background-color: white;
    opacity: 0;
    position: absolute;
    transition: all .4s;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 1px black;
}
.drop-container > div{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop-container > div:first-child{
    
}
.drop-container a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li:hover .drop-container{
    opacity: 1;
}
.drop-drop-container{
    display: none;
}