.glavni-div {
    width: 1000px;
}

.glavni-div .touch p {
    color: #3c4aa4;
    margin-left: 100px;
    font-size: 37px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glavni-div .touch {
    padding-top: 30px;
    width: 100%;
    height: 70px;
}

.glavni-div .forme table tr td .podaci {
    padding: 30px;
    width: 400px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
}

::placeholder {
    color: #3452cc;
    font-weight: bolder;
}

.glavni-div .forme table {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.glavni-div .forme table tr td .podaci:hover {}

.glavni-div .forme table tr:nth-child(1) td .podaci {
    background-color: #e7e9fe;
}

.glavni-div .forme table tr:nth-child(2) td .podaci {
    background-color: #dce1ff;
}

.glavni-div .forme table tr:nth-child(3) td .podaci {
    background-color: #c7cdfd;
    height: 70px;
    width: 850px;
}

.glavni-div .forme table tr:nth-child(4) td .podaci {
    background-color: #a5b1fd;
    height: 120px;
    width: 850px;
    padding-bottom: 90px;
}

.glavni-div .forme table {
    margin-left: 40px;
    width: 500px;
}

.glavni-div .forme table tr td .pomeraj {
    position: relative;
    left: 420px;
}

.glavni-div .forme table tr td .roki {
    position: relative;
    left: 420px;
}

.glavni-div .submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.glavni-div .submit .btn {
    font-weight: bolder;
    border-radius: 50px;
    width: 200px;
    height: 65px;
    font-size: 18px;
    color: white;
    background-color: #233bf5;
}

.glavni-div .thanks {
    font-size: 20px;
    height: 100px;
    width: 100%;
}

.glavni-div .thanks p {
    color: #26bd92;
    margin-top: 20px;
    margin-left: 70px;
}