*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    scroll-behavior: smooth;
}
body{
    background-color: #e4e4e4;
}
nav{
    position:sticky;
    top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding:0 100px;
    background-color: black;
    color: white;
    font-size: 2rem;
}
#logo, #logo span{
    color: rgb(21, 255, 0);
    font-family: monospace;
    letter-spacing: 3px;
    font-weight: lighter;
}
#logo span{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    /*transform: translateY(-3px) rotate(-90deg);*/
}
#home, #about, #projects{
    scroll-margin-top: 200px;
}
nav ul{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav ul li a{
    color: inherit;
}
nav ul li a:hover{
    color: inherit;
}
a img {
    width: 100px;
    height: 100px;
}
#links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
a, a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
    text-align: center;
}
h1{
    font-weight: 600;
}
h2{
    font-weight: 500;
}
#projects{
    display: grid;
}
li{
    display: inline;
    padding: 20px;
}
section{
    min-height: 400px;
}
ul img{
    width: 50px;
    aspect-ratio: 1;
}
main{
    display: flex;
    justify-content: space-evenly;
    margin: 100px 0;
}
main  div{
    max-width: 900px;
}
main h1{
    text-align: left;
    margin: 1rem 0;
}
main p{
   font-size: 1.3rem; 
   line-height: 2rem;
}
#img-container img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
main .btn{
    height: 50px;
    font-weight: 400;
    margin-right: 50px;
}
p{
    font-size: 1.3rem;
    line-height: 20px;
}
#message{
    padding: 10px;
    margin: 10px;
}
aside > div{
    display: inline-flex;
    max-width: 600px;
    border: 1px solid #ccc;
    font-weight: 300;
}
aside div img{
    border-radius: 50%;
    width: 100px;
    aspect-ratio: 1;
    object-fit: cover;
    vertical-align: middle;
}
aside{
    display: flex;
    gap: 20px;
}