*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Mabry,-apple-system,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Lucida Grande,sans-serif;
}
body{
    background: #6E3EFF;
    min-width: 100vw;
    min-height: 100vh;
}
nav{
    color: white;
    display: flex;
    justify-content: center;
    height: 150px;
}
nav ul{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    max-width: 1100px;
    font-size: .9rem;

}
nav ul li{
    margin-top: 15px;
    width: 33.3%;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav ul li:first-child{
    justify-content: flex-start;
}
nav ul li:last-child{
    justify-content: flex-end;
}
nav ul li img{
    width: 250px;
    height: 100px;
}
nav button{
    width: 100px;
    height: 35px;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
    border-radius: 5px;;
    color: white;
    transition: all 0.3s;
}
nav button:hover{
    background: rgba(255, 255, 255, .1);
}
#hearths{
    width:400px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
main{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    color:#370D7B;
    margin-top: 30px;
    position: relative;
}
#left, #right{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#left{
    background: #F8F5FF;
}

#left p{
    font-size: 1.3rem;
}
#left button{
    width: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#left button img{
    width: 22px;
    display: inline;
}
#left small {
    font-size: .8rem;
}
#left footer{
    position: absolute;
    bottom: 25px;
    color:  #8C65FF;
}
#right{
    background: #DFD7F6;
}
#right h4{
    text-align: center;
    margin-bottom: 30px;
}
#right button{
    width: 300px;
    margin-bottom: 10px;
}
#right footer{
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40px;
}
#right footer div:first-child{
    aspect-ratio: 1;
    width: 17px;
    background: #6E3EFF;
    border-radius: 50%;
}
#right footer div:last-child{
    height: 10px;
    width: 10px;
    background: #AAA2B8;
    border-radius: 50%;
}
aside{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    color: white;
}
aside div{
    display: flex;
    justify-content:center;
    align-items: center;
}
aside div:hover{
   cursor: pointer;
}
aside div:hover svg{
   fill:#F59BEC;
 }
aside div:hover span{
    color:#F59BEC;
}
aside span{
    transition: all .3s;
    margin-right: 20px;
}
aside svg{
    transition: all .3s;
    width: 20px;
    height: 20px;
    fill: white;
    margin-right: 5px;
}
bod
#footer {
    position: absolute;
    bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
#footer ul{
    display:flex;
    justify-content: flex-start;
    color: white;
}
#footer ul li{
    margin: 20px;
    list-style-type: none;
    font-size: .9rem;
    cursor: pointer;
    transition: all .3s;
}
#footer ul li:hover{
    color:#F59BEC;
}
#footer p{
    width: 200px;
    color: white;
    transform: translate(20px, -15px);
    font-size: .7rem;
}
#footer p a{
    color: white;
    cursor: pointer;
    transition: all .3s;
    transform: translateY(-150px);
    text-decoration: none;
}
#footer p a:hover{
    color:#F59BEC;
}
#or{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: #F8F5FF;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
}