*{
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-family: roboto;
}
h1{
    margin-top: 40px;
}
p{
    margin-top: 20px;
    padding : 0 100px;
}
#cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unutra{
    width: 32%;
    background-color: rgb(214, 214, 214);
    height: 200px;

}