*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 200vh;
}
nav{
    width: 400px;
    height: 200px;
    background-color: blue;
    display: inline;
    float: left;
    margin: 20px;
}